.services-section {
  display: flex;
  flex-direction: column;
}
.main-banner {
  background-color: slateblue;
  padding: 25px;
  height: 30vh;
}
.main-banner :nth-child(1) {
  color: white;
}
.main-banner :nth-child(2) {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
.main-banner :nth-child(3) {
  text-align: center;
}
.services-offered-section {
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 55px;
}
