.nav-bar-style {
  background-color: #e8e8e8;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-view {
  display: none;
}
.desktop-view {
  display: contents;
}
.menu-btn {
  background: transparent;
  border-width: 0px;
}
.nav-mobile-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}

.mobile-nav {
  position: fixed;
  float: right;
  right: 30px;
  left: 40px;
  top: 80px;
  background-color: #e8e8e8;
  border-radius: 8px;
  padding: 10px;
}

@media (max-width: 675px) {
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: contents;
  }
}

.align-nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-items {
  color: #212121;
  text-decoration: none;
}

.item:hover {
  color: blueviolet;
  text-decoration: none;
}

.logo-image {
  height: 100px;
  width: 100px;
}
