.nav-bar-style {
  background-color: #e8e8e8;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-view {
  display: none;
}
.desktop-view {
  display: contents;
}
.menu-btn {
  background: transparent;
  border-width: 0px;
}
.nav-mobile-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.mobile-nav {
  position: absolute;
  top: 103px;
  left: 0;
  background-color: #e8e8e8;
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 675px) {
  .desktop-view {
    display: none;
  }
  .mobile-view {
    display: contents;
  }
}

.align-nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-items {
  color: #212121;
  text-decoration: none;
}

.item:hover {
  color: blueviolet;
  text-decoration: none;
}

.logo-image {
  height: 100px;
  width: 100px;
}
