.footer {
  padding: 10px;
  background-color: rgb(227, 234, 241);
}

.contact-footer-section {
  display: flex;
  align-items: baseline;
  gap: 30px;
}
.address {
  list-style: none;
  padding-left: 0px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.address-heading {
  font-size: 20px;
  font-weight: 600;
}
.phone-heading {
  font-size: 20px;
  font-weight: 600;
}
.con-val {
  font-weight: 400;
}

.Icons {
  display: flex;
  align-items: center;
}
.content-section {
  display: flex;
  justify-content: space-between;
}
.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
a {
  text-decoration: none;
  color: black;
}
.legal-doc {
  text-align: center;
}
.links {
  align-self: baseline;
}

.form-input {
  width: 300px;
}
.form-btn {
  width: 120px;
}

@media screen and (max-width: 675px) {
  .form-input {
    width: 170px;
  }
  .form-btn {
    width: 90px;
  }
  .phone-heading {
    font-size: 15px;
  }
  .con-val {
    font-size: 12px;
  }
  .address-heading {
    font-size: 15px;
  }
}
