.contact{
  padding-left: 100px; 
}
.footer {
  padding: 10px;
  background-color: rgb(227, 234, 241);

}

.contact-footer-section {
  display: flex;
  align-items: baseline;
  gap: 30px;
  padding-left: 100px;  
}

.address {
  list-style: none;
  padding-left: 0px;
 
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.address-heading {
  font-size: 20px;
  font-weight: 600;
}

.phone-heading {
  font-size: 20px;
  font-weight: 600;
}

.con-val {
  font-weight: 400;
}

.Icons {
  display: flex;
  align-items: center;
}

.content-section {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

.legal-doc {
  text-align: center;
}

.links {
  padding-right: 160px; 
}
.links h5{
  font-size: 20px;
  margin: 0;
}


@media screen and (max-width: 675px) {

  .phone-heading {
    font-size: 20px;
  }
  .con-val {
    font-size: 15px;
  }
  .address-heading {
    font-size: 20px;
  }
  .contact-footer-section {
    gap: 10px;
  }
  li {
    font-size: 15px;
  }
  .content-section {
    display: flex;
    flex-direction: column;
  }
}
